div.threads {
  margin: 25px;
  border: 1px solid #cccccc;
}

div.title {
  background-color: #f0f0f0;
  margin: 0;
  width: 100%;
}

div.message {
  width: 100%;
}

div.newthread {
  width: 100%;
}

input.title {
  width: 100%;
}

textarea.thread-msg {
  width: 100%;
}

